<header class="phpdocumentor-header phpdocumentor-section">
    {% include 'components/header-title.html.twig' %}
    <input class="phpdocumentor-header__menu-button" type="checkbox" id="menu-button" name="menu-button" />
    <label class="phpdocumentor-header__menu-icon" for="menu-button" aria-label="Abrir menú">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M3 5h14M3 10h14M3 15h14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
    </label>
    {% include 'components/theme-toggle.html.twig' %}
    {% include 'components/topnav.html.twig' %}
</header>