<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <span class="phpdocumentor-title__brand">DLStorage</span>
        <span class="dlstorage-version-badge">v0.2.0</span>
    </a>
</h1>